:root {
    --blue: #0E1630;
    --hover-blue: #171F38;
    --red: #EB4A4A;
    --white: #fff;
    --light-blue: #808DAD;
}
::selection{
    background-color: var(--red);
    color: var(--white);
}
*{scroll-behavior: smooth;font-family: 'Quicksand', sans-serif;}

.uppercase{
    text-transform: uppercase;
}
.flex{
    display: flex;
}
.gap{
    gap: 20px;
}
.align{
    align-items: center;
}
body {
    margin: 0;
    background-color: var(--blue);
    color: var(--white);
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.show{
    display: block;
}
.section-title{
    position: relative;
    left: 40px;
    font-weight: 500;
    /* font-size: 18px; */
}
.width-fourty{width: 40%;}
.width-sixty{width: 60%;}

.section-title:before{
    content: "";
    height: 2px;
    width: 30px;
    top: 50%;
    left: -40px;
    position: absolute;
    background-color: var(--red);
}
li{
    list-style: none;
}
nav>ul>li {
    display: inline-block;
    margin: 0 20px;
}
.header-container > nav > ul>li:nth-child(4) {
    border-right: 1px solid var(--light-blue);
    padding-right: 40px;
    margin-right: 0;
}
a{
    text-decoration: none;
    transition: 0.7s ease;
}
.article{
    text-indent: 30px;
}
.icon{margin-right: 10px;}
.nav-links:last-child{
    align-items: center;
    gap: 10px;
}
.nav-links {
    color: var(--light-blue);
    background: linear-gradient(270deg, var(--red), var(--light-blue));
    padding-bottom: 7px;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
}
.nav-links:hover,
.active,
span {
    color: var(--red);
    background-size: 100% 3px;
}

/* ----------HEADER------------ */
header{
    height: 100vh;
}
.header-wrap {
    background-clip: padding-box;
    box-shadow: 0 0.5px 1px var(--light-blue);
}
.header-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    font-weight: 500;
}
.logo:first-letter{
    color: var(--red);
}
.header-content{
    display: flex;
    height: calc(100vh - 60px);
    align-items: center;
}

.header-content__hello{
    position: relative;
    left: 40px;
    font-weight: 500;
    font-size: 18px;
}
.header-content__hello:before{
    content: "";
    height: 2px;
    width: 30px;
    top: 50%;
    left: -40px;
    position: absolute;
    background-color: var(--red);
}
.header-left__title{
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 0.8rem;
    margin-top: 15px;
    margin-bottom: 10px;
}
.header-left__subtitle{
    font-size: 18px;
    margin-bottom: 20px;
}
.header-left__buttons{
    display: flex;
    gap: 20px;
}
.button a{
    background-color: var(--hover-blue);
    padding: 10px 30px;
    border: 1px solid var(--red);
    color: var(--white);
    border-radius: 5px;
}
.header-left__buttons a:hover{
    background: linear-gradient(90deg, transparent, var(--red));
    background-repeat: no-repeat;
}
.projects-items__wrap{
    flex-wrap: wrap;
    margin: 25px 0;
}
.projects-header{
    align-items: center;
    justify-content: space-between;
}
.projects-header__nav{
    justify-content: end;
}
.projects-item{
    height: 450px;
    width: calc(100% / 3.16);
    text-align: center;
    background-color: var(--hover-blue);
}
.projects-item__img a img{
    margin: 10px;
    width: 330px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.projects-item__img a img:hover{
    transform: scale(1.01);
}
.showmoreproducts{
    justify-content: end;
    align-items: center;
}
.fz24{
    font-size: 24px;
}
.contact-me__socials{
    margin-top: 30px;
}
.social-link__item a{
    padding: 5px 10px;
    color: var(--light-blue);
    font-size: 18px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .1);
    transition: 0.7s ease;
}
.social-link__item{
    transition: 0.7s ease;
}
.social-link__item:hover{
    transform: scale(1.05);
}
.social-link__item a:hover{
    color: var(--red);
}
.tag{
    color: var(--white);
    background: #2C3246;
    padding: 5px 10px;
    border-radius: 5px;
}
.tag:hover{
    color: var(--red);
    background-color: transparent;
    border: 1px solid var(--red);
}

/* CONTACT-ME */
.contact-me{
    margin: 30px 0;
}
.contact-info__item a{
    align-items: center;
    margin: 5px;
    color: var(--light-blue);
}
.contact-info__icon{
    border: 1px solid var(--red);
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
    padding: 5px;
}

.contact-me__form{
    width: 100%;
}
.input-field{
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: var(--light-blue);
    padding: 10px;
    display: block;
    margin: 10px 0;
    width: 100%;
    background-color: var(--hover-blue);
}
.contact-me__form textarea{
    width: 100%;
    margin: 10px 0;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 300px;
    background-color: var(--hover-blue);
}
.contact-me__select{
    color: var(--light-blue);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    outline: none;
    background-color: var(--hover-blue);
}
.contact-me__select option{
    padding: 10px;
}
.form-button{
    margin-top: 20px;
}

footer{
    margin: 50px 0;
}



.red {
    color: var(--red);
}
.light-blue{
    color: var(--light-blue);
}


/* test*/
.my-skills{
    position: relative;
    margin: 20px 0;
    padding: 0;
}
.my-skills:before,
.my-skills:after{
    content: '';
    height: 50%;
    width: 100px;
    position: absolute;
}
.my-skills:before{
    background: linear-gradient(90deg, var(--hover-blue), transparent);
    left: 0;
    top: 0;
}
.my-skills:after{
    background: linear-gradient(90deg, transparent, var(--hover-blue));
    bottom: 0;
    right: 0;
}
.skills-wrap{
    justify-content: space-between;
    align-items: center;
    height: 250px;
}
.skill{
    height: 140px;
    width: 140px;
    /* border: 2px solid red; */
    position: relative;
    border-radius: 50%;
    background-color: var(--hover-blue);
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
.skill svg{
    position: absolute;
    top: 0;
    left: 0;
}
.skill svg circle{
    fill: none;
    stroke: var(--red);
    stroke-width: 3px;
}
.html-circle{
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: htmlcircle 2s linear forwards;
}
.css-circle{
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: csscircle 2s linear forwards;
}
.js-circle{
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: jscircle 2s linear forwards;
}
.react-circle{
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: reactcircle 2s linear forwards;
}
.webpack-circle{
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: webpackcircle 2s linear forwards;
}
.figma-circle{
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: figmacircle 2s linear forwards;
}
.progress-level{
    font-size: 32px;
    font-weight: 700;
}
@keyframes htmlcircle{
    100%{
        stroke-dashoffset:  125;
    }
}

@keyframes csscircle{
    100%{
        stroke-dashoffset: 100;
    }
}

@keyframes jscircle{
    100%{
        stroke-dashoffset: 330;
    }
}

@keyframes reactcircle{
    100%{
        stroke-dashoffset: 435;
    }
}

@keyframes webpackcircle{
    100%{
        stroke-dashoffset: 430;
    }
}

@keyframes figmacircle{
    100%{
        stroke-dashoffset: 80;
    }
}

/* MEDIA  */
@media(max-width: 575px){

}